body {
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  body::-webkit-scrollbar {
    width: 0;
    height: 0;
  }