
.ForumCard
{
    display: flex;
    margin-top: 10px;
    background-color: black;
    opacity: 0.7;
    padding-left: 20px;
    height: 200px;
    border-radius: 50px;
}
.Thumbnail
{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    margin-top: 20px;
}
.ForumTitle
{
    font-family:'Medula';
    left: 50%;
    top: 0%;
    transform: translate(0%,-50%);
    font-size: 50px;
    color: #30D5C8;
    flex: 1;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    justify-content: flex-start;
    margin-left: 15px;
}
.ForumDesc
{
    font-family: 'Oswald';
    left: 4%;
    top: 0%;
    width: 500px;
    margin-left: 0;
    transform: translate(4%,-70%);
    color: white;
}
.ForumLink
{
    font-family: 'Oswald';
    left: 50%;
    top: 0%;
    background-color: transparent;
    border-radius: 5px;
    border: 3px solid #30D5C8;
    padding: 10px 20px;
    width: fit-content;
    transform: translate(15%,-100%);
    color: white;
    transition: ease-in-out all 0.2s;
}
.ForumLink:hover
{
    background-color: #30D5C8;
    color: black;
}
.line
{
  position: relative;
  margin-top: 10px;
  height: 2px;
  width: 100%;
  background-color: #30D5C8;
}
.sentence-spacing
{
    font-family:'Medula';
    left: 50%;
    top: 0%;
    transform: translate(1%,-270%);
    font-size: 20px;
    color: #30D5C8;
    flex: 1;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    justify-content: flex-start;
    margin-left: 15px;


}
.spacing::after {
    font-family:'Medula';
    left: 50%;
    top: 0%;
    transform: translate(1%,-270%);
    font-size: 20px;
    color: #30D5C8;
    flex: 1;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    justify-content: flex-start;
    margin-left: 15px;
    content: "\00a0"; /* Add a non-breaking space */
    margin-left: 20px; /* Adjust the desired space between the sentences */
  }
  @media screen and (max-width: 550px) {
    .ForumTitle {
      max-width: 350px; 
      overflow: hidden; 
      white-space: nowrap; 
      text-overflow: ellipsis; 
      margin-top: 40px;
      margin-left: 10px;
    }
    .ForumDesc
    {
        margin-left:-5px;
        width: 350px;
    }
  }