.Hero
{
    position: relative;
    display: block;
    color: white;
    align-items: center;
    width: 100vw;
    height: fit-content;
    font-family:'Medula';
}
.Hero .HeroT
{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Medula';
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    -webkit-text-stroke: 2px  #30D5C8;
} 
.Outline
{
    color: #30D5C8;
    outline: white;
    -webkit-text-stroke: 2px  ;
    margin-right: 20px;
}
.Hero .HeroP
{
    width: fit-content;
    height: fit-content;
}
.Hero .HeroP p
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 2.3em;
    font-family: 'Medula';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media screen and (max-width: 550px) {
    .Hero
    {
        justify-content: center;
        align-items: center;
    }
    .Hero .HeroT {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 10em;
        margin-top: 120px;
        margin-bottom: 120px;
      }
    
      .Hero .HeroP p {
        font-size: 2em;
        width: 440px;
        margin-top: 250px;
      }
    
    
}