.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 30px;
    position: relative;
  }
  .carousel-box {
    position: relative;
    height: 300px;
    width: 700px;
    border: 2px solid #d2ddd100;
    border-radius: 5px;
    overflow:visible;
  }
  
  /* Style for the carousel container */
  .carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  /* Style for the image */
  .carousel-image {
    display: block;
    width: auto;
    height: 450px; /* Adjust the height value as needed */
    object-fit: contain;
    border: 6px solid #30D5C8;
  }
  
  /* Style for the arrow buttons */
  .carousel-button {
    position: absolute;
    top: 60%;
    transform: translateY(-0%);
    width: 40px;
    height: 40px;
    background-color:rgba(255, 255, 255, 0.771);
    color: #111010;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Style for the left arrow button */
  .carousel-button.left {
    left: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  /* Style for the right arrow button */
  .carousel-button.right {
    right: 10px;
    transition: all 0.3s ease-in-out;
  }
  .carousel-button.left:hover, .carousel-button.right:hover {
  background-color: #30D5C8;
  color: #000000;
  }
  @media screen and (max-width:550px)
  {
    .centered-container
    {
      position: absolute;
      margin-top: -470px;
      margin-left: 43px;
      justify-content: center;
    }
    .carousel-box
    {
      width: 400px;
    }
    .carousel-container
    {
      width: 410px;
      height: 200px;
    }
    .carousel-image
    {
      width: 400px;
      height: 262px;
    }
  }