.Card
{
    display: block;
    color: gold;
    font-family: 'Medula';
    background-color: #d4d4d4;
    width: 19em;
    margin-top: 13em;
    height: 22em;
    padding: 0px 20px;
    border: 3px solid #30D5C8;
    border-radius: 20px;
    background: transparent;
    position: relative;
    transition: ease-in-out all 0.1s;
}
.Card:hover
{
    border: 4px solid white;
    background-color: black;
}
.Card h1
{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
    font-size: 2.7em;
}
.Card .line
{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
    margin-top: 85px;
    height: 2px;
    width: 300px;
    background-color: #30D5C8;
}
.Card h2
{
    position: absolute;
    top: 0%;
    left: 50%;
    color: white;
    transform: translate(-50%,0%);
    margin-top: 93px;
    font-size: 38px;
}
.Card .Benefits
{
    position: absolute;
    top: 0%;
    left: 50%;
    color: white;
    transform: translate(-50%,0%);
    margin-top: 190px;
    font-size: 35px;
}
.Card .Select
{
    position: absolute;
    top: 0%;
    left: 50%;
    color: white;
    transform: translate(-50%,0%);   
    margin-top:7.5em;
    font-family: 'Medula';
    padding: 5px 20px;
    font-size:2.3em;
    border: 2px solid gold;
    border-radius:7px;
    background:transparent;
    transition: ease-in-out all 0.3s;
}
.Card .Select:hover
{
    background-color: gold;
    color: black;
}

@media screen and (max-width:550px) 
{
    .Card
    {
        margin-top: -20em;
    }
    
}